<nav class="col-sm-12 col-md-4">
     <h2>Product List</h2>
    <ul class="list-unstyled">
        <li><a href="#Dream-Instantiation" class="list-item">Dream Instantiation</a></li>
        <li><a href="#Dimension-Door" class="list-item">Dimension Door</a></li>
        <li><a href="#Sleepling-Bath-Air" class="list-item">Sleepling Bath Air</a></li>
        <li><a href="#Human-Incubator" class="list-item">Human Incubator</a></li>
        <li><a href="#Skin-Alter" class="list-item">Skin Alter</a></li>
        <li><a href="#Automatic-Swimwear" class="list-item">Automatic Swimwear</a></li>
        <li><a href="#Invisible-Bag" class="list-item">Invisible Bag</a></li>
        <li><a href="#Laser-Eyes" class="list-item">Laser Eyes</a></li>
        <li><a href="#Amplification-Light" class="list-item">Amplification Light</a></li>
        <li><a href="#Sex-changing-Cloth" class="list-item">Sex-changing Cloth</a></li>
    </ul>
</nav>
<main class="col-sm-12 col-md-8">
    <div class="row">

        <div class="card col-sm-12 col-md-6 col-lg-4" id="Dream-Instantiation">
            <img class="card-img-top" src="public/images/Dream Instantiation.jpg" alt="Dream-Instantiation">
            <div class="card-block">
                <h2 class="card-title">Dream Instantiation</h2>
                <p class="card-text">Your personal dreams libiary.</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#DIModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="DIModal" tabindex="-1" role="dialog" aria-labelledby="DIModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="DIModalLabel">Dream Instantiation</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-subtitle">Detail:</h4>
                        <p>
                            Dreamming is a great way to have new ideas or adventures. But most of us can't remember the past dreams. 
                            Dream Instantitation is a product can save your dream. And when you want, you can load these dreams from this machine!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-4" id="Dimension-Door">
            <img class="card-img-top" src="public/images/Dimension Door.jpg" alt="Dimension-Door">
            <div class="card-block">
                <h2 class="card-title">Dimension Door</h2>
                <p class="card-text">The best way to travel.</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#Dimension-DoorModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="Dimension-DoorModal" tabindex="-1" role="dialog" aria-labelledby="Dimension-DoorModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="Dimension-DoorModalLabel">Dimension Door</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-subtitle">Detail:</h4>
                        <p>
                            From America to China, the most fast way will cost you at least 10 hours. 
                            Can you image the step is on American land while the next step is on Chinese land. You don't need waist too much time on vehicles anymore!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


       <div class="card col-sm-12 col-md-6 col-lg-4" id="Sleepling-Bath-Air">
            <img class="card-img-top" src="public/images/Sleepling Bath Air.jpg" alt="Human-Incubator">
            <div class="card-block">
                <h2 class="card-title">Sleepling Bath Air</h2>
                <p class="card-text">No undress with good sleep.</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#Sleepling-Bath-AirModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="Sleepling-Bath-AirModal" tabindex="-1" role="dialog" aria-labelledby="Sleepling-Bath-AirModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="Sleepling-Bath-AirModalLabel">Sleepling Bath Air</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-subtitle">Detail:</h4>
                        <p>
                            Image you are very tired after a whole day working, you just want to sleep. But you have to bath first. 
                            Or you can't sleep very well. This production can make your sleep very good. At the same time, air has cleaned your body when you sleeping!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-4" id="Human-Incubator">
            <img class="card-img-top" src="public/images/Human Incubator.jpg" alt="Human-Incubator">
            <div class="card-block">
                <h2 class="card-title">Human Incubator</h2>
                <p class="card-text">The savior of labor pain.</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#Human-IncubatorModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="Human-IncubatorModal" tabindex="-1" role="dialog" aria-labelledby="Human-IncubatorModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="Human-IncubatorModalLabel">Human Incubator</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-subtitle">Detail:</h4>
                        <p>
                            To be mother is the most exciting thing for most women. But the labor pain is the most painful pain in the world. 
                            Besides that, difficult labour and the serious scars of cesarean is horrible for a women. But this product can save them!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-4" id="Skin-Alter">
            <img class="card-img-top" src="public/images/Skin Alter.jpg" alt="Skin-Alter">
            <div class="card-block">
                <h2 class="card-title">Skin Alter</h2>
                <p class="card-text">Make your skin colourful.</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#Skin-AlterModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="Skin-AlterModal" tabindex="-1" role="dialog" aria-labelledby="Skin-AlterModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="Skin-AlterModalLabel">Skin Alter</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-subtitle">Detail:</h4>
                        <p>
                            The color of nails or hairs can be a fashion. Why the color of skin can't be? People can choose the daily fashionable color for yourselves such as green, pink. 
                            People won't discriminate the people with different color because they get used to!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-4" id="Automatic-Swimwear">
            <img class="card-img-top" src="public/images/Automatic Swimwear.jpg" alt="Automatic-Swimwear">
            <div class="card-block">
                <h2 class="card-title">Automatic Swimwear</h2>
                <p class="card-text">No near-drowning anymore.</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#Automatic-SwimwearModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="Automatic-SwimwearModal" tabindex="-1" role="dialog" aria-labelledby="Automatic-SwimwearModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="Automatic-SwimwearModalLabel">Automatic Swimwear</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-subtitle">Detail:</h4>
                        <p>
                            For those kids who can't swimming, if there is no enough guard when playing water, they have a high risk to die. This production is for these who can't swimming. 
                            If they wear this, they can be a good swimmer whether they can or not!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-4" id="Invisible-Bag">
            <img class="card-img-top" src="public/images/Invisible Bag.jpg" alt="Invisible-Bag">
            <div class="card-block">
                <h2 class="card-title">Invisible Bag</h2>
                <p class="card-text">More easy to shop for everyone.</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#Invisible-BagModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="Invisible-BagModal" tabindex="-1" role="dialog" aria-labelledby="Invisible-BagModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="Invisible-BagModalLabel">Invisible Bag</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-subtitle">Detail:</h4>
                        <p>
                           If you like shopping and buying many things, it will become a disaster after you carrying a lot of things. 
                           This production can store many things without changing the size or weight. You even can't realize you have bought many things!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-4" id="Laser-Eyes">
            <img class="card-img-top" src="public/images/Laser Eyes.jpg" alt="Laser-Eyes">
            <div class="card-block">
                <h2 class="card-title">Laser Eyes</h2>
                <p class="card-text">The most powerful weapon.</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#Laser-EyesModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="Laser-EyesModal" tabindex="-1" role="dialog" aria-labelledby="Laser-EyesModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="Laser-EyesModalLabel">Laser Eyes</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-subtitle">Detail:</h4>
                        <p>
                            If your eyes can be a weapon, it will be awesome! This weapon only can be triggled by extremely fear in case someone abuse this production.
                            When you are extremely fear, you can get ready to shoot with your laser eyes. Blink one time with one shoot!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-4" id="Amplification-Light">
            <img class="card-img-top" src="public/images/Amplification Light.jpg" alt="Amplification-Light">
            <div class="card-block">
                <h2 class="card-title">Amplification Light</h2>
                <p class="card-text">Make everything bigger.</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#Amplification-LightModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="Amplification-LightModal" tabindex="-1" role="dialog" aria-labelledby="Amplification-LightModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="Amplification-LightModalLabel">Amplification Light</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-subtitle">Detail:</h4>
                        <p>
                            A small light can easily change the size of everything. You don't need to worry this delicious food is not enough for many people to eat. 
                            Just Some lights, the food will become much bigger more than your can image! And it save a lot of time!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-sm-12 col-md-6 col-lg-4" id="Sex-changing-Cloth">
            <img class="card-img-top" src="public/images/Sex-changing Cloth.jpg" alt="Sex-changing-Cloth">
            <div class="card-block">
                <h2 class="card-title">Sex-changing Cloth</h2>
                <p class="card-text">New toy for old married couples.</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#Sex-changing-ClothModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="Sex-changing-ClothModal" tabindex="-1" role="dialog" aria-labelledby="Sex-changing-ClothModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="Sex-changing-ClothModalLabel">Sex-changing Cloth</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-subtitle">Detail:</h4>
                        <p>
                            Sometimes old married couples may face seven-year itch. Mostly, people don't understand each other because they only think in their gender way. 
                            If they change gender, they maybe have more understanding with each other!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

 

    </div>
</main>