@import "variables";

* {
    box-sizing: border-box;
}

body, html {
    background: $body-background;
    color: $brand-primary;
    font-family: $font-family;
    font-size: $primary-font-size;
}

nav {
    text-align: left;
}

nav li a{
    font-size: 1.5rem;
    color: $brand-primary;
}

h1, h2, h3, h4, h5, h6 {
    color: $brand-primary;
    margin-bottom: 10px;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: right;
    padding-right: 85px;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.card{
    background-color:rgb(206, 247, 243);
}

.card-text {
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
    color: $brand-secondary;
}

 .card-title {
    text-align: center;
    font-weight: bold;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}


.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #4338DD
}

.btn-primary {
    color: #fff;
    background-color: #4338DD;
    border-color: #4338DD; }

/* Pseudo-classes */

nav ul li:nth-child() {
    font-style: italic;
    padding-left: 10px;
}

nav li a:hover {
    font-weight: bold;
    text-decoration: none;
    color: $link-hover-color;
    }

nav li a {
font-style: italic;
}
