<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="/public/css/styles.min.css">
</head>

<body>
    <div class="container">
        <section class="row">
            <div class="title-area col-sm-12 col-md-12 col-lg-12">
                <h1> Yi Ding's 10 Product Portfolio:</h1>
            </div>
            {{{body}}}
        </section>
    </div>

    <script src="/public/js/vendor.min.js"></script>
    <script src="/public/js/tota11y.min.js"></script>
</body>

</html>